name: CI/CD simple con Pytest y GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: pip install -r requirements.txt

    - name: Ejecutar pruebas
      run: pytest

    - name: Generar HTML para despliegue
      run: |
        echo "<h1>Despliegue exitoso </h1>" > index.html
        echo "<p>Las pruebas pasaron correctamente.</p>" >> index.html

    - name: Subir a GitHub Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
    - name: Deploy a GitHub Pages
      uses: actions/deploy-pages@v4
